################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/gophers/Dgitarrange/bin/Debug
/gophers/Dgitarrange/obj/Debug
